
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: white;
            background-color: green;
        }

        .container {
            background-color:lightblue;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 500px;
            display: grid;
            grid-template-rows: auto auto auto auto auto;
            gap: 20px;
            text-align: center;
        }

        h1 {
            font-size: 24px;
            color: #333;
        }

        p {
            font-size: 16px;
            margin: 10px 0;
        
        }

        .input-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        input {
            width: 60%;
            padding: 10px;
            border: 1px solid  white;
            border-radius: 5px;
        }

        button {
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            background-color: red;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: green;
        }

        #feedback, #chances {
            font-size: 18px;
            margin-top: 15px;
        }

        .button-container {
            display: flex;
            justify-content: center;
        }
   